
<div *ngIf="personalSocialDetails">
    <jhi-alert-error></jhi-alert-error>
    <div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Sleep Type
            </div>
            <div class="col-md-4 detail-item">
                <div *ngIf="personalSocialDetails.sleepType">
                    {{personalSocialDetails.sleepType?.sleepType}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Appetite Type
            </div>
            <div class="col-md-4 detail-item">
                <div *ngIf="personalSocialDetails.appetiteType">
                   {{personalSocialDetails.appetiteType?.appetiteType}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Micturition Type
            </div>
            <div class="col-md-4 detail-item">
                <div *ngIf="personalSocialDetails.micturitionType">
                    {{personalSocialDetails.micturitionType?.micturitionType}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Bowel Habit
            </div>
            <div class="col-md-4 detail-item">
                <div *ngIf="personalSocialDetails.bowelHabit">
                    {{personalSocialDetails.bowelHabit?.bowelHabit}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Addiction
            </div>
            <div class="col-md-4 detail-item">
                <div *ngIf="personalSocialDetails.addiction">
                    {{personalSocialDetails.addiction?.addiction}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Education
            </div>
            <div class="col-md-4 detail-item">
                {{personalSocialDetails.education}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Employment
            </div>
            <div class="col-md-4 detail-item">
                {{personalSocialDetails.employment}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 detail-header">
                Assistance At Home
            </div>
            <div class="col-md-4 detail-item">
                {{personalSocialDetails.assistanceAtHome}}
            </div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary"
            (click)="navigateTo()">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
