
<div *ngIf="drugHistory">
    <h2><span>Drug History</span> {{drugHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Is Compliant Patient</span></dt>
        <dd>
            <span>{{drugHistory.isCompliantPatient}}</span>
        </dd>
        <dt><span>Additional Medication Information</span></dt>
        <dd>
            <span>{{drugHistory.additionalMedicationInformation}}</span>
        </dd>
        <dt><span>Patient</span></dt>
        <dd>
            <div *ngIf="drugHistory.patient">
                <a [routerLink]="['/patient', drugHistory.patient?.id]">{{drugHistory.patient?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'drug-history/'+ drugHistory.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
