<div>
    <h2>
        <span>Medications</span>
        <button class="btn btn-primary float-right jh-create-entity create-medication" [routerLink]="['/', { outlets: { popup: ['medication-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Medication
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="medications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dose"><span>Dose</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="frequency"><span>Frequency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="route"><span>Route</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="maneNocte"><span>Mane Nocte</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="usingCurrently"><span>Using Currently</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="drugHistory.id"><span>Drug History</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="medicine.id"><span>Medicine</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let medication of medications ;trackBy: trackId">
                <td><a [routerLink]="['../medication', medication.id ]">{{medication.id}}</a></td>
                <td>{{medication.dose}}</td>
                <td>{{medication.frequency}}</td>
                <td>{{medication.route}}</td>
                <td>{{medication.maneNocte}}</td>
                <td>{{medication.usingCurrently}}</td>
                <td>
                    <div *ngIf="medication.drugHistory">
                        <a [routerLink]="['../drug-history', medication.drugHistory?.id ]" >{{medication.drugHistory?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="medication.medicine">
                        <a [routerLink]="['../medicine', medication.medicine?.id ]" >{{medication.medicine?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../medication', medication.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medication/'+ medication.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'medication/'+ medication.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="medications && medications.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
