<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPatientLabel">Create or edit a Patient</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!patient.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="patient.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_patientName">Patient Name</label>
            <input type="text" class="form-control" name="patientName" id="field_patientName"
                [(ngModel)]="patient.patientName" required/>
            <div [hidden]="!(editForm.controls.patientName?.dirty && editForm.controls.patientName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.patientName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hospitalNumber">Hospital Number</label>
            <input type="text" class="form-control" name="hospitalNumber" id="field_hospitalNumber"
                [(ngModel)]="patient.hospitalNumber" required/>
            <div [hidden]="!(editForm.controls.hospitalNumber?.dirty && editForm.controls.hospitalNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.hospitalNumber?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_registeredDate">Registered Date</label>
            <div class="input-group">
                <input id="field_registeredDate" type="text" class="form-control" name="registeredDate" ngbDatepicker  #registeredDateDp="ngbDatepicker" [(ngModel)]="patient.registeredDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="registeredDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.registeredDate?.dirty && editForm.controls.registeredDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.registeredDate?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="patient.age" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_birthDate">Birth Date</label>
            <div class="input-group">
                <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" [(ngModel)]="patient.birthDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_gender">Gender</label>
            <select class="form-control" name="gender" [(ngModel)]="patient.gender" id="field_gender"  required>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
            <div [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.gender?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_patientHeight">Patient Height</label>
            <input type="text" class="form-control" name="patientHeight" id="field_patientHeight"
                [(ngModel)]="patient.patientHeight" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_patientWight">Patient Wight</label>
            <input type="number" class="form-control" name="patientWight" id="field_patientWight"
                [(ngModel)]="patient.patientWight" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_maritalStatus">Marital Status</label>
            <select class="form-control" name="maritalStatus" [(ngModel)]="patient.maritalStatus" id="field_maritalStatus" >
                <option value="MARRIED">MARRIED</option>
                <option value="SINGLE">SINGLE</option>
                <option value="DIVORCED">DIVORCED</option>
                <option value="WIDOWED">WIDOWED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nicNumber">Nic Number</label>
            <input type="text" class="form-control" name="nicNumber" id="field_nicNumber"
                [(ngModel)]="patient.nicNumber" pattern="[0-9]{9}[vVxX]"/>
            <div [hidden]="!(editForm.controls.nicNumber?.dirty && editForm.controls.nicNumber?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.nicNumber?.errors?.pattern">
                    This field should follow pattern for "Nic Number".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_telephoneNumber">Telephone Number</label>
            <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                [(ngModel)]="patient.telephoneNumber" pattern="(0|\+94)[0-9]{9}"/>
            <div [hidden]="!(editForm.controls.telephoneNumber?.dirty && editForm.controls.telephoneNumber?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.telephoneNumber?.errors?.pattern">
                    This field should follow pattern for "Telephone Number".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_emergencyContactNumber">Emergency Contact Number</label>
            <input type="text" class="form-control" name="emergencyContactNumber" id="field_emergencyContactNumber"
                [(ngModel)]="patient.emergencyContactNumber" pattern="(0|\+94)[0-9]{9}"/>
            <div [hidden]="!(editForm.controls.emergencyContactNumber?.dirty && editForm.controls.emergencyContactNumber?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.emergencyContactNumber?.errors?.pattern">
                    This field should follow pattern for "Emergency Contact Number".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="patient.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="patient.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_occupation">Occupation</label>
            <input type="text" class="form-control" name="occupation" id="field_occupation"
                [(ngModel)]="patient.occupation" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_bloodGroup">Blood Group</label>
            <select class="form-control" name="bloodGroup" [(ngModel)]="patient.bloodGroup" id="field_bloodGroup" >
                <option value="A_PLUS">A_PLUS</option>
                <option value="A_MINUS">A_MINUS</option>
                <option value="B_PLUS">B_PLUS</option>
                <option value="B_MINUS">B_MINUS</option>
                <option value="AB_PLUS">AB_PLUS</option>
                <option value="AB_MINUS">AB_MINUS</option>
                <option value="O_PLUS">O_PLUS</option>
                <option value="O_MINUS">O_MINUS</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_guardianName">Guardian Name</label>
            <input type="text" class="form-control" name="guardianName" id="field_guardianName"
                [(ngModel)]="patient.guardianName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_guardianAddress">Guardian Address</label>
            <input type="text" class="form-control" name="guardianAddress" id="field_guardianAddress"
                [(ngModel)]="patient.guardianAddress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_referringPhysician">Referring Physician</label>
            <input type="text" class="form-control" name="referringPhysician" id="field_referringPhysician"
                [(ngModel)]="patient.referringPhysician" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_referringHospital">Referring Hospital</label>
            <input type="text" class="form-control" name="referringHospital" id="field_referringHospital"
                [(ngModel)]="patient.referringHospital" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
