<div *ngIf="patient">
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-md-6">
            <div class="row detail-item detail-item">
                <div class="col-md-4 detail-header">Patient Name:</div>
                <div class="col-md-8">{{patient.patientName}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Hospital Number</div>
                <div class="col-md-8">{{patient.hospitalNumber}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Registered Date</div>
                <div class="col-md-8">{{patient.registeredDate |  date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Address</div>
                <div class="col-md-8">{{patient.address}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Age</div>
                <div class="col-md-8">{{patient.age}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Date of Birth</div>
                <div class="col-md-8">{{patient.birthDate | date: 'dd/MM/yyyy'}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Gender</div>
                <div class="col-md-8">{{patient.gender}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Patient Height</div>
                <div class="col-md-8">{{patient.patientHeight}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Patient Weight</div>
                <div class="col-md-8">{{patient.patientWight}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Maritial State</div>
                <div class="col-md-8">{{patient.maritalStatus}}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Nationality</div>
                <div class="col-md-8">Sri Lankan</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">NIC:</div>
                <div class="col-md-8">{{patient.nicNumber}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Telephone Number</div>
                <div class="col-md-8">{{patient.telephoneNumber}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Emergency Contact Number</div>
                <div class="col-md-8">{{patient.emergencyContactNumber}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Email</div>
                <div class="col-md-8">{{patient.email}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Occupation</div>
                <div class="col-md-8">{{patient.occupation}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Blood Group</div>
                <div class="col-md-8">{{patient.bloodGroup}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Guradian Name</div>
                <div class="col-md-8">{{patient.guardianName}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Guardian Address</div>
                <div class="col-md-8">{{patient.guardianAddress}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Referring Physician</div>
                <div class="col-md-8">{{patient.referringPhysician}}</div>
            </div>
            <div class="row detail-item">
                <div class="col-md-4 detail-header">Referring Hospital & Unit</div>
                <div class="col-md-8">{{patient.referringHospital}}</div>
            </div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'patient/'+ patient.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
