<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'bio']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Bio Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'personal']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Personal & Social Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'gynological']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Gynological Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'drug-history']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Drug History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'allergies']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Allergies History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'family']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Family History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'present-illness']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">History Of Present Illness"</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/patients', id, 'cardiac']" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Cardiac Risk Factor</a>
    </li>
</ul>
<router-outlet></router-outlet>
