<ngb-tabset>
    <ngb-tab title="Personal & Social Details">
        <ng-template ngbTabContent>
            <p>Personal & Social Details</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Gynological Details">
        <ng-template ngbTabContent>
            <p>Gynological Details</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Drug History">
        <ng-template ngbTabContent>
            <p>Drug History</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Allergies History">
        <ng-template ngbTabContent>
            <p>Allergies History</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Family History">
        <ng-template ngbTabContent>
            <p>Family History</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Bio Data">
        <ng-template ngbTabContent>
            <p>Bio Data</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="History Of Present Illness">
        <ng-template ngbTabContent>
            <p>History Of Present Illness</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Cardiac Risk Factor">
        <ng-template ngbTabContent>
            <p>Cardiac Risk Factor</p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>


